body {
	padding-top: 60px;

	#main {
		height: 530px;
	}
}
.box {
	.box-title {
		border-bottom: 1px solid #DDD;
	}
	.box-actions {
		padding: 5px 0 5px 100px;
	}
}
#body {
	margin-top: 10px;
}
#match-results {
	height: 500px;
	// overflow-y: scroll;
}