// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-fluid {
  width: 99%;
	.span8 {
		width: 60%;
		float: left;
	}
	.span7 {
		width: 40%;
		float: left;
	}
	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}